# This is an example of how to config SSH on router

conf t

username admin secret cisco
username admin priv 15

line vty 0 4
 login local
 transport input all

ip domain-name test.com
crypto key gen rsa
2048

int gig0/0
 no shut
 ip address 10.1.1.1 255.255.255.0

end
wr
